.App {
  text-align: center;
  font-size: large;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

textarea {
  margin: 1em;
  width: 40rem;
  height: 8rem;
}

.Output {
  width: 38rem;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-align: left;
  background-color: beige;
}

li {
  font-weight: normal;
}

.urls + ul > li {
  margin-bottom: 1em;
  font-weight: bold;
}

ul ul {
  list-style-type: none;
}

dfn {
  display: block;
  margin-left: -.5em;
}

dfn::after {
  content: ':';
}

.Output img {
  max-width: 25em;
  max-height: 25em;
  margin: .5em 0;
}